<section id="benefits">
  <div class="container">

    <div class="row">
        <div class="col-lg-8 col-lg-push-2">
            <article class="sales-letter">
              {% markdown benefits_sales_letter.md %}
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-push-2 text-center">
          <div class="client-logos">
            <!-- <img src="/img/client-logos/logo-amh.png"> -->
            <img src="/img/client-logos/logo-biola.png">
            <img src="/img/client-logos/logo-donortools.png">
            <img src="/img/client-logos/logo-memberman.png">
          </div>
        </p>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
        </div>
    </div>

  </div>
</section>
