<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="text-faded section-heading">Member and Pledge Drive Software</h2>
                <hr class="light">
                <p class="text-faded">
                    Membership drives are a fact of life for member-supported radio. Take out the monotony and draw in your members with MemberDrive.
                </p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
                <a href="https://www.getdrip.com/forms/994692057/submissions/new" class="btn btn-default btn-xl" data-drip-show-form="994692057">Request an Inviation</a>

            </div>
        </div>
    </div>
</section>
