<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who's behind MemberDrive?</h2>
                <hr class="primary">
                <p>
                    We're <a href="https://mysmallidea.com">The Small Idea Company</a>.
                    <br>We've been designing web-based software for nonprofit organizations since 2004.
                </p>
            </div>

    </div>
</section>
