<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Built for Radio</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-circle-o-notch wow bounceIn text-primary"></i>
                    <h3>Time-Based Goals</h3>
                    <p class="text-muted">Set hourly, daily, and weekly goals to track progress and convey urgency.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-files-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Matching Gifts</h3>
                    <p class="text-muted">Multiply your giving power with matching. Members can even set up their own match and invite their friends.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-line-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Membership Levels &amp; Premiums</h3>
                    <p class="text-muted">Auto-group members by gift size and history. Incentivize donations with premium gifts.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Member Login</h3>
                    <p class="text-muted">Members can login, set up their own matching gift, and invite their friends to donate.</p>
                </div>
            </div>
        </div>
    </div>
</section>
